@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

body,
section {
  background-color: #f9fafb;
}
html {
  overflow-x: hidden;
  font-size: 14px;
}

/* Data Grid Styles */

.MuiDataGrid-footerContainer,
.MuiDataGrid-toolbarContainer {
  background-color: #f0f2f5;
}

.MuiDataGrid-main
  div:nth-last-of-type(1):not(
    .MuiDataGrid-columnHeaders *,
    .MuiDataGrid-virtualScroller *,
    .MuiDataGrid-main div:nth-last-of-type(3) *,
    .MuiDataGrid-main div:nth-last-of-type(4) *
  ) {
  display: none;
}
[aria-label="Search"] {
  position: absolute !important;
  right: 20px !important;
}
.MuiDataGrid-toolbarContainer {
  position: relative !important;
}
.MuiDataGrid-columnHeaderTitle {
  color: darkred !important;
}
.MuiDrawer-paper {
  overflow: hidden;
}
.MuiDataGrid-detailPanel {
  background-color: #f0f2f5 !important;
  padding: 20px 30px 30px 70px;
}

/* Dialog styles */

.MuiDialogTitle-root {
  color: #1976d2;
}
[data-testid="MenuIcon"] {
  color: #1976d2 !important;
}

/* Mobile View fixes */

@media (max-width: 500px) {
  body {
    overflow-y: hidden;
  }
}

/* Security Log Style */

.sec-logwrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 60%;
  background: #d10024;
  opacity: 0.05;
  -webkit-transform: skewX(-45deg) translateX(-90%);
  -ms-transform: skewX(-45deg) translateX(-90%);
  transform: skewX(-45deg) translateX(-90%);
}
.sec-logwrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 100%;
  background: #d10024;
  opacity: 0.15;
  -webkit-transform: skewX(-45deg) translateX(-110%);
  -ms-transform: skewX(-45deg) translateX(-110%);
  transform: skewX(-45deg) translateX(-110%);
}

/* MUİ buttons styles */

.MuiDialogActions-root .MuiButtonBase-root,
.MuiSpeedDial-root .MuiButtonBase-root:not(#SpeedDialbasicexample-actions *) {
  background-color: #4899ea !important ;
}

.MuiSpeedDial-root
  .MuiButtonBase-root:not(#SpeedDialbasicexample-actions *):hover {
  background-color: #1b80e4 !important ;
  color: white !important;
}

.MuiDialogActions-root
  .MuiButtonBase-root:not(#SpeedDialbasicexample-actions *):hover {
  background-color: #1b80e4 !important ;
  color: white !important;
}
